/* Style the tab */
div.tab {
	width: 100%;
/*    overflow: hidden;*/
/*    border: 1px solid #ccc;*/
    background-color: #ffffff;
	font-size: 20;
}

/* Style the buttons inside the tab */
div.tab button {
/*    background-color: inherit;*/
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	font-size: 20;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
	font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
/*    padding: 6px 12px;*/
/*    border: 1px solid #ccc;*/
    border-top: none;
    position: relative
}

.header_info {
    color: white;
/*    font-family:sans-serif; */
/*    font-size: 10px;*/
}

body {
    background-color: #202020
}

#tabtitle {
	display: inline-block
}

.tablinks {
	font-size: 20;
	
}

#thumbs {   
    width: 100%;
    margin-top:0px;
    margin-left: auto; 
    margin-right: auto;
	border-bottom: none;
	border: none;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#thumbs div {
/*    vertical-align: top;*/
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
	height: 0
}

#picture_holder {
	display: flex;
	height: 400px;
    flex-direction: column;
    justify-content: space-between;
}

.picture_holder_content {
	width: 50%;
	padding: 30px 30px 0px 30px;
	height: 100px;
	text-align: center;
	margin: auto;
}
